<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% if title %}
		<title>{{title}}</title>
	{% else %}
		<title>TASQ</title>
	{% endif %}
</head>
<body style=" overflow-x: hidden; padding-bottom: 120px;">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">

		    	<li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
			        Problems
			      </a>
			      <div class="dropdown-menu">
			        <a class="dropdown-item" href="#">Deatails</a>
			        <a class="dropdown-item" href="#">About</a>
			      </div>
			    </li>

		    	<li class="nav-item active">
		        	<!-- <a class="nav-link" href="{% url 'all-problems' %}">Problems <span class="sr-only">(current)</span></a> -->
		    	</li>

		    	<li class="nav-item dropdown">
		        	<!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
		          	<!-- Dropdown -->
		        	<!-- </a> -->
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			        <!-- <a class="dropdown-item" href="#">Action</a> -->
		        	<!-- <a class="dropdown-item" href="#">Another action</a> -->
		        	<!-- <div class="dropdown-divider"></div> -->
		        	<!-- <a class="dropdown-item" href="#">Something else here</a> -->
		        </div>
		    	</li>
		    	<li class="nav-item">
		        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
		    	</li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		    	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		    	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		</div>
	</nav>

	{% block extrascripts %}
		<script type="text/javascript" id="MathJax-script" async
		    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
		</script>
	{% endblock extrascripts %}

	{% block content-unindent %}
	
	{% endblock %}

	<div class="container p-5" id="block_content_div">
		{% block content %}

		{% endblock %}
	</div>
	<div class="container-fluid">
		<div class="row">
			<footer id="sticky-footer" class="py-4 bg-dark text-white-50" style="bottom: 0; position: fixed; width: 100%; color: #e05ea0;">
		    	<div class="container text-center">
		    		<small>Copyright &copy; Your Website</small>
		    	</div>
			</footer>
		</div>
	</div>

</body>
</html>