{% if messages %}
	{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{message}}
		</div>
	{% endfor %}
{% endif %}

  
<body onload="countdown();"> 
    <div> 
        Time Left :: 
        <input id="minutes" type="text" style="width: 10px; 
             border: none; font-size: 16px;  
            font-weight: bold; color: black;"><font size="5"> : 
                        </font> 
        <input id="seconds" type="text" style="width: 20px; 
                        border: none; font-size: 16px; 
                        font-weight: bold; color: black;"> 
    </div> 

	<form method="POST" id="problem-form">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</body> 


<script type="text/javascript">
    window.onload=function(){ 
    	 Decrement();
    	// auto submit form in 3 seconds
        window.setTimeout(function() { document.getElementById('problem-form').submit(); }, 7000);
    };

    //set minutes 
    var mins = 0; 

    //calculate the seconds 
    var secs = 7; 

    //countdown function is evoked when page is loaded 
	// function countdown() { 
 //        setTimeout('Decrement()', 60); 
 //    } 
    // window.onload=Decrement();

    //Decrement function decrement the value. 
    function Decrement() { 
        if (document.getElementById) { 
            minutes = document.getElementById("minutes"); 
            seconds = document.getElementById("seconds"); 
            // minutes = mins;
            // seconds = secs;

            //if less than a minute remaining 
            //Display only seconds value. 
            if (seconds < 59) { 
                seconds.value = secs; 
            } 

            //Display both minutes and seconds 
            //getminutes and getseconds is used to 
            //get minutes and seconds 
            else { 
                minutes.value = getminutes(); 
                seconds.value = getseconds(); 
            } 
            //when less than a minute remaining 
            //colour of the minutes and seconds 
            //changes to red 
            if (mins < 1) { 
                minutes.style.color = "red"; 
                seconds.style.color = "red"; 
            } 
            //if seconds becomes zero, 
            //then page alert time up 
            if (mins < 0) { 
                // alert('time up'); 
                minutes.value = 0; 
                seconds.value = 0; 
            } 
            //if seconds > 0 then seconds is decremented 
            else { 
                secs--; 
                setTimeout('Decrement()', 1000); 
            } 
        } 
    } 

    function getminutes() { 
        //minutes is seconds divided by 60, rounded down 
        mins = Math.floor(secs / 60); 
        return mins; 
    } 

    function getseconds() { 
        //take minutes remaining (as seconds) away  
        //from total seconds remaining 
        return secs - Math.round(mins * 60); 
    } 
</script> 
<!-- onload function is evoke when page is load --> 
<!--countdown function is called when page is loaded --> 
